  // flex
  @mixin flexbox($jc: center, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
  }
  
  @mixin inline-flexbox($jc: center, $ai: center) {
    display: inline-flex;
    justify-content: $jc;
    align-items: $ai;
  }
  
  @mixin column-flexbox($jc: center, $ai: center) {
    display: flex;
    flex-direction: column;
    justify-content: $jc;
    align-items: $ai;
  }


  // absolute
  @mixin pos-center-x($type: absolute) {
    @if ($type==fixed or $type==absolute) {
      position: $type;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  
  @mixin pos-center-y($type: absolute) {
    @if ($type==fixed or $type==absolute) {
      position: $type;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  
  @mixin pos-center($type: absolute, $top: 50%, $left:50%) {
    @if ($type==fixed or $type==absolute) {
      position: $type;
      left: $left;
      top: $top;
      transform: translate(-50%, -50%);
    }
  }

  //Text
  @mixin one-line($width: 'auto',) {
    display:inline-block;
    width:$width;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
  }


  //responsible
  
  //tablet - desktop
  @mixin td-screen {
    @media screen and (max-width: #{$tablet-desk}) {
      @content;
    }
  }

  //tablet
  @mixin tablet-screen {
    @media screen and (max-width: #{$tablet}) {
      @content;
    }
  }
   
  //mob
  @mixin mob--screen {
    @media screen and (max-width: #{$mobile}) {
      @content;
    }
  }
  