/* Pretendard */
@font-face {
  font-family: "Pretendard";
  src: url("/src/assets/font/Pretendard-Regular.eot") format("eot"), url("/src/assets/font/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/src/assets/font/Pretendard-Medium.eot") format("eot"), url("/src/assets/font/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/src/assets/font/Pretendard-SemiBold.eot") format("eot"), url("/src/assets/font/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/src/assets/font/Pretendard-Bold.eot") format("eot"), url("/src/assets/font/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/* GmarketSans */
@font-face {
  font-family: "GmarketSans";
  src: url("/src/assets/font/GmarketSansLight.eot") format("eot"), url("/src/assets/font/GmarketSansLight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSans";
  src: url("/src/assets/font/GmarketSansMedium.eot") format("eot"), url("/src/assets/font/GmarketSansMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSans";
  src: url("/src/assets/font/GmarketSansBold.eot") format("eot"), url("/src/assets/font/GmarketSansBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
/* ChalkboardSE */
@font-face {
  font-family: "ChalkboardSE";
  src: url("/src/assets/font/ChalkboardSE-Regular.eot") format("eot"), url("/src/assets/font/ChalkboardSE-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ChalkboardSE";
  src: url("/src/assets/font/ChalkboardSE-Bold.eot") format("eot"), url("/src/assets/font/ChalkboardSE-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
/* Montserrat */
@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/font/Montserrat-Regular.eot") format("eot"), url("/src/assets/font/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/font/Montserrat-Medium.eot") format("eot"), url("/src/assets/font/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/font/Montserrat-Bold.eot") format("eot"), url("/src/assets/font/Montserrat-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
/* SCDream */
@font-face {
  font-family: "SCDream";
  src: url("/src/assets/font/SCDream4.eot") format("eot"), url("/src/assets/font/SCDream4.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SCDream";
  src: url("/src/assets/font/SCDream5.eot") format("eot"), url("/src/assets/font/SCDream5.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}