// Intro
.Intro {
    width: 100%;
    background-color: var(--background-Color);
    height: calc(100vh - 87px);
    @include tablet-screen {
        height: 450px;
    }
    @include mob--screen {
        height: 350px;
    }
    .bgText {
        position: fixed;
        width: 100vw;
        z-index: 1;
        transform: rotate(-4deg);
        .text_p {
            position: relative;
            margin-top: 4%;
            font-size: 185px;
            white-space: nowrap;
            color: rgba(54,84,134,0.05);
            font-family: 'ChalkboardSE';
            font-weight: 600;
            @include td-screen {
                font-size: 15vw;
            }
        }
    }
    .bg-shape1 {
        top: -100px;
        left: -50px;
        border-radius: 9999px;
        position: relative;
        animation: one 10s infinite;
    }
    .bg-shape2 {
        bottom: -100px;
        right: -100px;
        border-radius: 9999px;
        position: relative;
        animation: two 10s infinite;
    }
    .opacity-50 {
        opacity: .5;
    }
    .bg-blur {
        width: 300px;
        height: 300px;
        filter: blur(100px);
        position: fixed;
        z-index: 2;
    }
    .bg-primary {
        background-color: #5594D3;
    }
    .bg-teal {
        background-color: #AFBFF5;
    }
    .introInner {
        position: relative;
        max-width: 1300px;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        @media screen and (max-width: 1600px) {
            max-width: 1200px;
        }
        .introText {
            @include pos-center($top: 47%);
            width: 100%;
            text-align: left;
            @media screen and (max-width: 1350px) {
                padding: 0 40px;
            }
            @include mob--screen {
                padding: 0 15px;
            }
            .mainText {
                > p {
                    color: $basic-color;
                    font-size: 80px;
                    font-family: 'ChalkboardSE';
                    font-weight: 400;
                    opacity: 0; 
                    &.text-animation span {
                        opacity: 0; animation: 600ms ease-in-out 0s 1 normal forwards running fade;
                    }
                    @keyframes fade { 
                        0% { top: 10px; left: 10px; filter: blur(15px); opacity: 0; }
                        50% { filter: blur(10px); opacity: 0.9; }
                        100% { top: 0px; left: 0px; filter: blur(0px); opacity: 1; }
                      }
                    @include td-screen {
                        font-size: 7vw; 
                    }
                    @include tablet-screen {
                        font-size: 52px; 
                    }
                    @include mob--screen {
                        font-size: 9vw; 
                    }
                }
                > h2 {
                    animation: 0.6s ease-in-out 1.7s normal forwards running fade; opacity: 0;
                    color: $basic-color;
                    font-size: 120px;
                    font-family: 'ChalkboardSE';
                    font-weight: 600;
                    white-space: nowrap;
                    margin: 15px 0 80px 0;
                    @include td-screen {
                        font-size: 9vw;
                    }
                    @include tablet-screen {
                        font-size: 72px; 
                        margin: 15px 0 50px 0;
                    }
                    @include mob--screen {
                        font-size: 9.5vw; 
                        margin: 15px 0 30px 0;
                    }
                }
            }
            .subText {
                position: relative;
                > p:first-child {
                    color: $basic-color;
                    font-size: 21px;
                    line-height: 1.8;
                    padding-left: 5px;
                    @include td-screen {
                        font-size: 1.7vw;
                    }
                    @include tablet-screen {
                        font-size: 17px; 
                        line-height: 28px;
                    }
                    @include mob--screen {
                        font-size: 15px;
                        line-height: 26px;
                        padding-left: 0;
                        > br:not(:first-child) {
                            display: none;
                        }
                    }
                }
                .myName {
                    color: $basic-color;
                    font-family: 'Montserrat';
                    font-weight: 500;
                    position: absolute;
                    bottom: 0;
                    right: 80px;
                    font-size: 28px;
                    font-weight: 500;
                    letter-spacing: -0.02em;
                    @include td-screen {
                        font-size: 1.5vw;
                    }
                    @include tablet-screen {
                        font-size: 17px; 
                        right: 20px;
                        // line-height: 28px;
                    }
                    @include mob--screen {
                        display: none;
                    }
                }
            }
        }
    }
}

// scrollDown
.scrollBar {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    .text {
        font-family: 'Montserrat';
        font-weight: 500;
        display: block;
        margin-top: 70px;
        font-size: 14px;
        color: $basic-color;
        white-space: nowrap;
        opacity: .25;
        animation: pulse 2s linear alternate infinite;
        @include tablet-screen {
            margin-top: 62px;
            font-size: 13px;
        }
    }
    @include tablet-screen {
        bottom: -45px;
    }
}
.chevron {
    margin: 0 auto;
    width: 28px;
    height: 2px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
    &:first-child {
        animation: move 3s ease-out 1s infinite;
    }
    &:nth-child(2) {
        animation: move 3s ease-out 2s infinite;
    }
    &::before ,
    &::after {
        content: ' ';
        position: absolute;
        top: 0;
        height: 100%;
        width: 51%;
        background: $basic-color;;
    }
    &::before {
        left: 0;
        transform: skew(0deg, 30deg);
    }
    &::after {
        right: 0;
        width: 50%;
        transform: skew(0deg, -30deg);
  }
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  @keyframes pulse {
    to {
      opacity: 1;
    }
  }
  @include tablet-screen {
    width: 20px;
    height: 1px;
  }
}

// AboutMe 
h2.h2tit {
    font-size: 42px;
    font-family: 'ChalkboardSE';
    font-weight: 400;
    margin-bottom: 30px;
    @include tablet-screen {
        text-align: center;
    }
    @include mob--screen {
        font-size: 28px;
    }
}
.AboutMe {
    position: relative;
    z-index: 1;
    background: $bg-color2;
    padding-bottom: 250px;
    margin-top: 150px;
    width: 100%;
    @include tablet-screen {
        padding-bottom: 120px;
    }
    @include mob--screen {
        margin-top: 120px;
        padding-bottom: 85px;
    }
    &::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -150px;
        left: 0;
        width: 0;
        height: 0;
        border-top: 75px solid transparent;
        border-bottom: 75px solid $bg-color2;
        border-left: 50vw solid $bg-color2;
        border-right: 50vw solid transparent;
        @include td-screen {
            top: -100px;
            border-top: 50px solid transparent;
            border-bottom: 50px solid $bg-color2;
            border-left: 50vw solid $bg-color2;
            border-right: 50vw solid transparent;
        }
        @include tablet-screen {
            top: -60px;
            border-top: 30px solid transparent;
            border-bottom: 30px solid $bg-color2;
            border-left: 50vw solid $bg-color2;
            border-right: 50vw solid transparent;
        }
        @include mob--screen {
            top: -40px;
            border-top: 20px solid transparent;
            border-bottom: 20px solid $bg-color2;
            border-left: 50vw solid $bg-color2;
            border-right: 50vw solid transparent;
        }
    }
    .inner {
        position: relative;
        z-index: 5;
        max-width: 1300px;
        margin: 0 auto;
        padding-top: 85px;
        text-align: center;
        .aboutMe_con {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 80px;
            @include tablet-screen {
                padding-top: 30px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;
            }
            @include mob--screen {
                gap: 20px;
            }
            .profile {
                position: relative;
                flex-shrink: 0;
                width: 500px;
                height: 500px;
                overflow: hidden;
                border: 2px solid #fff;
                box-shadow: 0 0 15px rgba(0,0,0,0.2);
                border-radius: 30% 70% 70% 30% / 30% 36% 64% 70%;
                animation: radiusani 3s linear infinite both alternate;
                img {
                    position: absolute;
                    top: calc(50% + 145px);
                    left: 50%;
                    transform: translate(-50%,-50%);
                    @include td-screen {
                        width: 100%;
                        top: 0;
                        left: 0;
                        transform: none;
                    }
                }
                @include td-screen {
                    width: 400px;
                    height: 400px;
                }
                @include tablet-screen {
                    width: 300px;
                    height: 300px;
                }
                @media screen and (max-width: 360px) {
                    width: 250px;
                    height: 250px;
                }
            }
            .aboutText {
                text-align: left;
                margin-top: 12px;
                .textBox {
                    padding-bottom: 30px;
                    border-bottom: 1px solid $basic-color;
                    p {
                        font-size: 18px;
                        color: $basic-color;
                        line-height: 1.6;
                        + p {
                            margin-top: 30px;
                            @include td-screen {
                                margin-top: 20px;
                            }
                            @include tablet-screen {
                                margin-top: 12px;
                            }
                        }
                        @include td-screen {
                            font-size: 15px;
                        }
                        @include mob--screen {
                            line-height: 24px;
                        }
                        br {
                            display: none;
                        }
                        &:first-child > br:first-child {
                            @include tablet-screen  {
                                display: block;
                            }
                        }
                    }
                    @include td-screen {
                        padding-bottom: 25px;
                    }
                    @include mob--screen {
                        padding-bottom: 15px;
                    }
                }
                .aboutMore {
                    .fa-circle-chevron-down {
                        margin-right: 10px;
                        transform: rotate(-90deg);
                        @include mob--screen {
                            margin-right: 5px;
                        }
                    }
                    display: block;
                    margin-top: 30px;
                    color: $basic-color;
                    font-size: 20px;
                    @include td-screen {
                        margin-top: 25px;
                        font-size: 18px;
                    }
                    @include mob--screen {
                        margin-top: 15px;
                        font-size: 15px;
                    }
                    > span {
                        position: relative;
                        &::before {
                            content: '';
                            position: absolute;
                            bottom: -3px;
                            left: 0;
                            width: 0px;
                            height: 1px;
                            transition: all 0.3s;
                            background-color: #000;
                        }
                        &:hover::before {  
                            width: 100%;
                        }
                    }
                }
            }
        }
        .mySkill {
            padding-top: 120px;
            gap: 80px;
            display: flex;
            justify-content: center;
            @include td-screen {
                gap: 30px;
            }

            @include mob--screen{
                flex-direction: column;
                gap: 0;
                padding-top: 85px;
            }
            .skillText {
                flex-shrink: 0;
                width: 550px;
                padding-left: 50px;
                @include td-screen  {
                    width: 400px;
                }
                @include td-screen {
                    padding-left: 0;
                }
                @include mob--screen {
                    width: 100%;
                }
                h2 {
                    font-family: "ChalkboardSE";
                    font-size: 90px;
                    color: transparent;
                    -webkit-text-stroke: 2px #151515;
                    @include td-screen {
                        font-size: 72px;
                    }
                    @include mob--screen {
                        font-size: 28px;
                        -webkit-text-stroke: unset;
                        color: #000; 
                    }
                    span {
                        position: relative;
                        display: block;
                        text-align: left;
                        @include mob--screen {
                            display: inline-block;
                        }
                        &:first-child {
                            margin-bottom: 10px;
                            &::after {
                                content: '';
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                right: 0px;
                                width: calc(100% - 220px);
                                height: 3px;
                                background-color: #000;
                                @include td-screen {
                                    width: calc(100% - 150px);
                                }
                                @include mob--screen {
                                    display: none;
                                }
                            }
                            @include mob--screen {
                                margin-bottom: 0;
                             }
                        }
                        &:last-child {
                            margin-left: 80px;
                            @include mob--screen {
                               margin-left: 6px;
                            }
                        }
                    }
                }
            }
            .skillList {
                @include td-screen {
                    width: 510px;
                    padding-left: 25px;
                 }
                @include tablet-screen {
                    width: auto;
                    padding-left: 0;
                }
                > p {
                    font-family: 'ChalkboardSE';
                    font-size: 30px;
                    text-align: left;
                    margin-top: 25px;
                    @include td-screen {
                        margin-top: 19px;
                     }
                    @include mob--screen {
                        display: none;
                     }
                }
                > ul {
                    display: flex;
                    gap: 10px;
                    flex-wrap: wrap;
                    margin-top: 20px;
                    > li {
                        padding: 5px;
                        border: 1px solid $basic-color;
                        border-radius: 3px;
                        @include td-screen {
                            font-size: 15px;
                        }
                    }
                    @include td-screen {
                        gap: 7px;
                    }
                }
            }
        }
        @include td-screen {
            padding: 0 40px;
        }
        @include mob--screen {
            padding: 0 15px;
        }
    }
}
@keyframes radiusani {
    0% {
        border-radius: 30% 70% 70% 30% / 30% 36% 64% 70%;
    }
    100% {
        border-radius:  47% 53% 67% 33% / 34% 47% 53% 66%;
    }
}


// Experience 
.Experience {
    position: relative;
    z-index: 1;
    background-color: #E0ECF8;
    height: auto;
    margin-bottom: 150px;
    @include tablet-screen {
        margin-bottom: 80px;
    }
    @include mob--screen {
        margin-bottom: 50px;
    }
    .inner {
        @include td-screen {
            padding: 0 40px;
        }
        @include tablet-screen {
            padding: 0 40px 80px 40px;
        }
        @include mob--screen {
            padding: 0 15px 60px 15px;
        }
    }
    .h2Sticky {
        position: absolute;
        width: 100%;
        height: 416px;
        top: -100px;
        left: 0;
        @include tablet-screen {
            position: relative;
            top: 0;
            height: auto;
        }
    }
    h2 {
        position: sticky;
        top: 130px;
        text-align: center;
    }
    .stickyFix {
        height: 313px;
        @include tablet-screen {
            height: auto;
        }
    }
    .experienSticky {
        .experienceBox {
            position: sticky;
            top: 230px;
            z-index: 8;
            margin: 0 auto;
            max-width: 1300px;
            height: 402px;
            color: $basic-color;
            border-radius: 30px;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
            padding: 30px 30px;
            font-size: 30px;
            background-color: hsl(226, 61%, 67%);
            @include tablet-screen {
                position: relative;
                top: 0;
                height: auto;
                border-radius: 15px;
                padding: 30px 20px;
            }
            @include mob--screen {
                padding: 20px 15px;
            }
            &.type2 {
                background-color: hsl(226, 58%, 59%);
                margin-top: 30px;
            }
            .boxInner {
                width: 100%;
                height: 100%;
                .boxTit {
                    margin-bottom: 20px;
                    padding-bottom: 13px;
                    border-bottom: 2px solid #fff;
                    @include mob--screen {
                        margin-bottom: 12px;
                        padding-bottom: 12px;
                    }
                    h3 {
                        color: #fff;
                        font-weight: 500;
                        font-size: 24px;
                        > .year {
                            font-size: 20px;
                            @include mob--screen {
                                display: block;
                                font-size: 14px;
                                margin-top: 7px;
                            }
                        } 
                        @include tablet-screen {
                            font-size: 22px;
                        }
                        @include mob--screen {
                            font-size: 20px;
                        }
                    }
                    p {
                        font-size: 18px;
                        color: #fff;
                        margin-top: 10px;
                        @include mob--screen {
                            font-size: 14px;
                            margin-top: 7px;
                        }
                    }
                }
                .projectCon {
                    display: flex;
                    .project {
                        width: 50%;
                        &:nth-child(1) {
                            padding-right: 50px;
                            @include tablet-screen {
                                padding-right: 0;
                            }
                        }
                        @include tablet-screen {
                            width: 100%;
                        }
                    }
                    @include tablet-screen {
                        flex-direction: column;
                        gap: 30px;
                    }
                }
                .project {
                    h3 {
                        font-size: 22px;
                        margin-bottom: 15px;
                        color: #fff;
                        > span {
                            font-size: 18px;
                            font-weight: 500;
                            @include tablet-screen {
                                font-size: 15px;
                            }
                            @include mob--screen {
                                font-size: 14px;
                            }
                        }
                        @include tablet-screen {
                            font-size: 18px;
                        }
                        @include mob--screen {
                            font-size: 17px;
                            margin-bottom: 10px;
                        }
                    }
                    .viewBtn {
                        color: #fff;
                        font-size: 15px;
                        .fa-paste {
                            margin-right: 5px;
                        }
                        @include tablet-screen {
                            font-size: 14px;
                        }
                        @include mob--screen {
                            font-size: 13px;
                        }
                    }
                }
                .projectList {
                    padding-top: 4px;
                    height: 206px;
                    overflow-y: auto;
                    &::-webkit-scrollbar  {
                        width: 5px;
                    }
                    &::-webkit-scrollbar-thumb {
                        height: 30%; 
                        background: #ddd;
                        border-radius: 10px;
                    }
                    &::-webkit-scrollbar-track {
                        background: transparent; 
                    }
                    @include mob--screen {
                        height: 147px;
                    }
                    > li {
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        position: relative;
                        font-size: 16px;
                        color: #fff;
                        padding-left: 12px;
                        padding-right: 15px;
                        padding-bottom: 10px;
                        @include tablet-screen {
                            padding-bottom: 7px;
                        }
                        &::after {
                            content: '';
                            position: absolute;
                            top: 6px;
                            left: 1px;
                            width: 4px;
                            height: 4px;
                            border-radius: 100%;
                            background-color: #fff;
                        }
                        &:not(:last-child) {
                            margin-bottom: 10px;
                            border-bottom: 1px solid rgba(0,0,0,0.2);
                            @include tablet-screen {
                                margin-bottom: 7px;
                            }
                        }
                        >span:first-child {
                            @include one-line($width: calc(100% - 120px));
                            line-height: 1.2;
                            @include tablet-screen {
                                font-size: 15px;
                                @include one-line($width: calc(100% - 85px));
                            }
                        }
                        .Internal {
                            flex-shrink: 0;
                            color: #fff;
                            font-size: 15px;
                            @include tablet-screen {
                                font-size: 14px;
                            }
                            @include mob--screen {
                                font-size: 13px;
                            }
                        }
                        .siteView {
                            flex-shrink: 0;
                            color: #fff;
                            font-size: 15px;
                            .fa-circle-chevron-down {
                                transform: rotate(-90deg);
                                margin-right: 5px;
                            }
                            @include tablet-screen {
                                font-size: 14px;
                            }
                            @include mob--screen {
                                font-size: 13px;
                            }
                        }
                        .maintenanceDetails {
                            position: absolute;
                            z-index: 2;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: auto;
                            padding: 20px 20px;
                            background-color: #F7F2E0;
                            color: #000;
                            @include mob--screen {
                                padding: 15px 10px;
                            }
                            > div {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-bottom: 10px;
                                > h4 {
                                    font-size: 17px;
                                }
                                .closeBtn {
                                    font-size: 20px;
                                    margin-bottom: 2px;
                                }
                            }
                            .list {
                                > li {
                                    position: relative;
                                    padding-left: 10px;
                                    line-height: 1.2;
                                    @include mob--screen {
                                        font-size: 14px;
                                    }
                                 + li {
                                    margin-top: 5px;
                                 }   
                                 &::before {
                                    content: '';
                                    position: absolute;
                                    top: 3px;
                                    left: 0;
                                    width: 4px;
                                    height: 4px;
                                    background-color: #000;
                                    border-radius: 100%;
                                 }
                                }
                            }
                        }
                    }
                }
            }
        }
        > .experienceBox:first-child .projectList {
            height: auto;
        }
    }
    
}


// portfolio
.Portfolio {
    position: relative;
    background-color: $bg-color1;
    min-height: 700px;
    padding-bottom: 140px;
    @include mob--screen {
        padding-bottom: 80px;
    }
    .inner {
        max-width: 1300px;
        margin: 0 auto;
        padding-top: 120px;
        @include td-screen {
            padding: 0 40px;
        }
        @include mob--screen {
            padding: 0 15px;
        }
        .portWrap {
            display: flex;
            align-items: flex-start;
            @include tablet-screen {
                flex-direction: column;
                align-items: center;
            }
            .porfolioText {
                position: sticky;
                top: 40%;
                width: 550px;
                flex-shrink: 0;
                @include td-screen {
                    width: 500px;
                }
                @include tablet-screen {
                    top: 0;
                    position: relative;
                    width: 100%;
                }
                h2 {
                    display: inline-block;
                    position: relative;
                    font-size: 70px;
                    font-family: 'ChalkboardSE';
                    > span {
                        &::after {
                            content: '';
                            position: absolute;
                            top: 100%;
                            right: -48px;
                            width: 45px;
                            height: 2px;
                            background-color: $basic-color;
                            animation: baropa 0.4s infinite both alternate;
                        }
                    }
                    @include mob--screen  {
                        font-size: 40px;
                    }
                }
                @keyframes baropa {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
                p {
                    font-size: 20px;
                    line-height: 1.6;
                    margin-top: 50px;
                    @include mob--screen  {
                        font-size: 17px;
                        margin-top: 25px;
                        > br {
                            display: none;
                        }
                    }
                }
            }
            .portfolioList {
                width: calc(100% - 500px);
                @include tablet-screen  {
                    width: 100%;
                    margin-top: 50px;
                }
                > ul {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    @include mob--screen  {
                        width: 100%;
                    }
                    > li {
                        position: relative;
                        z-index: 3;
                        width: calc(50% - 10px);
                        @include mob--screen  {
                            width: 100%;
                        }
                        .thumImg {
                            width: 100%;
                            overflow: hidden;
                            height: 252.5px;
                            border: 1px solid #ccc;
                            img {
                                display: block;
                                height: 100%;
                                transition: all 0.4s;
                                transform: scale(1);
                                @include td-screen {
                                    width: 100%;
                                    height: auto;
                                }
                            }
                            &:hover img {
                                transform: scale(1.1);
                            }
                            @include td-screen {
                                width: 100%;
                                height: auto;
                            }
                        }
                        .thumTx {
                            margin-top: 15px;
                            text-align: center;
                        }
                        + li {
                            margin-top: 25px;
                        }
                    }
                }
            }
        }

    }
}